<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="BibliotecaContextContainer" connectionString="metadata=res://*/Model.BibliotecaContext.csdl|res://*/Model.BibliotecaContext.ssdl|res://*/Model.BibliotecaContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=ProyectoWinForm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BBDD" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=localhost\SQLEXPRESS" />
    <add name="sql" connectionString="BibliotecaContext.dat" />
  </connectionStrings>
</configuration>